html {
    background-color: rgb(208, 240, 254);
    font-size:25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(77, 20, 142);
    text-align:auto;
}
img {
    image-resolution:4000;
    height:250px;
    width:fit-content;
  
   mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
   -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

    float:right;
}
li {
    color: black;
}

ol{ li {color:rgb(225, 50, 147);}}

h1 { 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:100px;
}